@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Это онлайн магазин</h1>
    <p>МИМИМИМИ</p>
    <img src="https://static.wikia.nocookie.net/529e8861-7f65-42e6-a0c9-5911299207ca/scale-to-width/755" alt="mimimi" />
</div>
