@model User
@{
    ViewData["Title"] = "Профиль";
}

<div class="card shadow-sm border-0 h-100" style="width: 18rem; border-radius: 12px; overflow: hidden;">
    
    <img src="@Model.ImagePath" class="card-img-top" alt="img">

    <div class="card-body">

        <h5 class="card-title mb-1">
            @Model.FirstName @Model.LastName
        </h5>

        <p class="card-text text-muted small mb-2">
            @Model.Email
        </p>
    </div>
</div>
