@model User
@{
    ViewData["Title"] = "Пользователь";
}

<div class="card" style="width: 18rem; flex-direction:row">
    <img src="@Model.UserImage" class="card-img-top" style="width: 3rem; height:3rem; border-radius:50%;" alt="...">
    <div class="card-body">
        <h4 class="card-name">@Model.Name</h4>
        <p class="card-surname">@Model.Surname</p>
        <p class="card-email">@Model.Email</p>
    </div>
</div>

